
html, body  { font-family: muli, arial, helvetica; color: #000;
background-image :url('../images/surf-bw.jpg'); background-position: -15em -1em; background-attachment: scroll; font-size: medium; }

h1 { background: #000; color: #fff; opacity:0.6; font-size: 0.5em; letter-spacing: 0.1em; display: block; line-height: 1em; margin: 0; margin-right: 1px; margin-left: 1px; border: 0; padding: .3em 2.5em; }

a { background: #fff; opacity: 0.8; color: #000; outline: none; margin: 1px; }
a:link { text-decoration: none; display: block; padding: .7em 1.25em; }
a:visited { text-decoration: none; display: block; }
a:hover { background: #444; opacity: 0.7; color: #fff; }
a:active { text-decoration: none; display: block; }

#container { max-width: 800px; }

#header { position: relative; max-width: 750px; top: 0; left: 0; }

a.more { float: left; color: #006699; background: #fff; padding: 0.875em 4em; }
a.burlcrone { float: left; color: #000; background: #fff; padding: 0.9em 0.5em; }

a.today { float: left; padding: 0.3em 1em; color: #000; background: #fff; }

a.top1 { padding: 0em ; background: none; font-color: green; }
.top2 { height: 2em; display: inline; padding: 0.2em 0.4em; margin: 0em; }

.linkimg { height: 1em; display: inline; padding-left: 1em; }

#rightside a { display: block; z-index: 5; opacity: 1; border: 0; padding: 0; background: none; }
#circle { position: absolute; top: 562px; left: 480px; display: block; margin: none; z-index: 10; }
#circle a { background: none; border: 0; padding: 0; margin: 0; width: 100px; height: 100px; }
#circle a:hover { background-image: url('../images/surf.png'); background-size: 100%; }

.button1 { background: none; width: 2.7em; height: 2.7em; display: block; }

.pin { background: none; margin-top: -0.5em; margin-bottom: -1em; width: 2em; height: 2em; display: block; padding: mone; }

#button-a a { position: fixed; right: 5em; top: 1em; }
#button-b a { position: fixed; right: 5em; top: 4em; }
#button-c a { position: fixed; right: 5em; top: 7em; }
#button-d a { position: fixed; right: 5em; top: 10em; }
#button-e a { position: fixed; right: 5em; top: 13em; }
#button-f a { position: fixed; right: 5em; top: 16em; }
#button-g a { position: fixed; right: 5em; top: 19em; }
#button-h a { position: fixed; right: 5em; top: 22em; }
#button-i a { position: fixed; right: 5em; top: 25em; }
#button-j a { position: fixed; right: 5em; top: 28em; }
#button-k a { position: fixed; right: 5em; top: 31em; }
#button-l a { position: fixed; right: 5em; top: 34em; }

#button1 a { position: fixed; right: 0.5em; top: 1em; }
#button2 a { position: fixed; right: 0.5em; top: 4em; }
#button3 a { position: fixed; right: 0.5em; top: 7em; }
#button4 a { position: fixed; right: 0.5em; top: 10em; }
#button5 a { position: fixed; right: 0.5em; top: 13em; }
#button6 a { position: fixed; right: 0.5em; top: 16em; }
#button7 a { position: fixed; right: 0.5em; top: 19em; }
#button8 a { position: fixed; right: 0.5em; top: 22em; }
#button9 a { position: fixed; right: 0.5em; top: 25em; }
#button10 a { position: fixed; right: 0.5em; top: 28em; }
#button11 a { position: fixed; right: 0.5em; top: 31em; }
#button12 a { position: fixed; right: 0.5em; top: 34em; }
#button13 a { position: fixed; right: 0.5em; top: 37em; }

#toprow { float: left; margin-left: 0.5em; margin-top: -0.3em; width: 100%; }
#toprow a { float: left; background: none; font-color: #000; padding: 0.25em 0.5em; }

#categories { max-width: 35em; float: left; margin-top: 0.5em; margin-left: 0.6em; margin-bottom: 0.8em; font-size: 0.9em; padding-right: 8em; }
#categories a { margin: 0px 0px 1px 1px; }
a.category { float: left; padding: 0.4em 1em 0.5em 1em; color: #fff; background: #000; opacity: 0.5; }
a.category:hover { opacity: 0.3; }

.search { float: left; margin: 0em 0em 0.5em 0em; }
.larger { font-size: 1.9em; color: #666; margin: 0; width: 10em; }
.box { border: none; width: 90px; height: 90px; }

#googlebox { float: left; margin: 0.5px 2px 2px 0px; }
#google { float: left; margin-left: 0.5em; width: 100%; margin-bottom: 0em; }
#google a { float: left; background: none; font-color: #000; padding: 0.75em 0.5em; }



#page { float: left; position: relative; padding: 0em 0em 0.5em 0.5em; 
padding-right: 7em; }

#contact {  }
#print {  }
#social {  }
#film {  }
#media { }
#sound {  }
#books {  }
#mysites { }
#images {  }
#theatres { }
#culture {  }
#hockey {  }
#hockey2 {  }

#cameras { }
#web-tools {  }
#home {  }
#utility {  }
#stream {  }
#computers {  }
#arch {  }

.links { height: 34em; width: 11em; float: left; margin: 0 1em 1em 0; }

.bold { font-weight: bold; letter-spacing: 0.11em; }
.small { font-size: 0.75em; }

a.most { border-right: 1em solid #CC66CC; } /* ---- purple ---- */
a.most-red { border-right: 1em solid red; }
a.most-black { border-right: 1em solid black; }
a.most-grey { border-right: 1em solid #333; }
a.most-blue { border-right: 1em solid #006699; }
a.most-lt-blue { border-right: 1em solid #66CCFF; }
a.most-yellow { border-right: 1em solid #CCCC00; }
a.most-green { border-right: 1em solid #A3D35F; }
a.most-orange { border-right: 1em solid #FF9933; }
a.most-brown { border-right: 1em solid #996633; }
a.most-white { border-right: 1em solid #fff; }
a.most-purple { border-right: 1em solid #9933FF; }

a.img { background: none; border: 0; margin: 0; padding: 0; }
a.img:hover { background: none; }

.space { width: 8em; display: block; }
.space2 { width: 0em; display: block; }

/* ------------------------  phone css ----------- */
@media screen and (max-width: 601px) {

html, body  { font-size: large; }
#header { max-width: 225px; }

#categories { padding-right: 0em; }
a.category { opacity: 0.6; }

#google a { padding: 0.2em 0.5em 0.5em 0.5em; }
.larger { width: 5em; }

.button1 { background: none; width: 2.2em; height: 2.2em; display: block; }
.pin { margin-top: 0em; margin-bottom: -1em; width: 1.25em; height: 1.25em;  }

#button-a a { right: 4em; }
#button-b a { right: 4em; }
#button-c a { right: 4em; }
#button-d a { right: 4em; }
#button-e a { right: 4em; }
#button-f a { right: 4em; }
#button-g a { right: 4em; }
#button-h a { right: 4em; }
#button-i a { right: 4em; }
#button-i a { right: 4em; }
#button-j a { right: 4em; }
#button-k a { right: 4em; }

#circle { left: 0; top: 0; display: none; }

}
/* ------------------------  phone css ----------- */
