

html, body  { font-family: 'avenir next cyr', muli, arial; color: #fff;
background-image: url('../images/trianglify-bw.png');
background-color: #666;
font-size: 100%; 
background-position: ;
background-repeat: no-repeat;
background-size: cover;
} 

a { background: none; opacity: 0.8; color: #fff; outline: none; 
margin: 1px; 
padding: none;
border: none; 
}
a:link { text-decoration: none; display: block; padding: 0; }
a:visited { text-decoration: none; display: block; }
a:hover { background: none; color: #000; }
a:active { text-decoration: none; display: block; }

/* ------ bigger font on folders index page ----- */
.font2 { position: relative; top: 0.4em; font-size: 90%; letter-spacing: 1px; 
line-height: 2.4em; }

/* ------ links page font smaller by a bit ----- */
.font { position: relative; top: 0.4em; font-size: 85%; letter-spacing: 1px; 
line-height: 2.4em; }

#container {
text-transform: uppercase;  
margin: -0.5em;
}

a.img { background: none; border: 0; margin: 0; padding: 0; }
a.img:hover { background: none; }

#zone1 { width: 600px; float: left; position: relative; 
padding: 5% 5% 0% 15%;
}

/* ------ extra text line beside the back trianle button ----- */
#text { position: relative; padding-top: .2em; left: 0.2em;
font-size: 75%; color: #CCCCCC; z-index: -1; }


/* ------ button is square (large coloyred folder boxes), button2 is rectangular (direct links below) ----- */
/* ------ link is a button, image is a badge ----- */
.button { 
position: relative; 
margin: 0 1em 1em 0;
float: left;
text-align: center;
}
a.button { color: #fff; display: block; 
width: 7em; height: 7em;
}

/* ------ badge & badge2 the same (for now) ----- */
/* ------ link is a button, image is a badge ----- */
.badge { 
display: block;
width: 7em; height: 3.5em; 
margin-left: auto;
margin-right: auto;
border: 0; }

/* --- blank --- */
a.image 		{ background-color:rgba(0, 0, 0, 0); }
a.image:hover 	{ background-color:rgba(0, 0, 0, 0); }

/* --- red --- */
a.media 		{ background-color:rgba(204, 0, 0, 0.5); }
a.media:hover 	{ background-color:rgba(153, 0, 0, 0.5); }

/* --- yellow --- */
a.film 			{ background-color:rgba(204, 153, 51, 0.5); }
a.film:hover 	{ background-color:rgba(153, 102, 0, 0.5); }

/* --- lt blue --- */
a.text 			{ background-color:rgba(51, 102, 153, 0.5); }
a.text:hover 	{ background-color:rgba(0, 51, 102, 0.5); }

/* --- lt grey --- */
a.sport 		{ background-color:rgba(153, 153, 153, 0.5); }
a.sport:hover 	{ background-color:rgba(102, 102, 102, 0.5); }

/* --- dk red --- */
a.home 			{ background-color:rgba(102, 0, 0, 0.5); }
a.home:hover 	{ background-color:rgba(51, 0, 0, 0.5); }

/* --- green --- */
a.work			{ background-color:rgba( 0, 102, 51, 0.5); }
a.work:hover 	{ background-color:rgba( 0, 51, 0, 0.5); }

/* --- lime --- */
a.lime			{ background-color:rgba( 160, 252, 24, 0.5); }
a.lime:hover 	{ background-color:rgba( 0, 255, 0, 0.5); }

/* --- dk blue --- */
a.social		{ background-color:rgba( 51, 51, 102, 0.5); }
a.social:hover 	{ background-color:rgba( 0, 0, 51, 0.5); }

/* --- dk grey --- */
a.chat			{ background-color:rgba( 51, 51, 51, 0.5); }
a.chat:hover 	{ background-color:rgba( 20, 20, 20, 0.5); }

#zone2 { width: 600px; float: left; position: relative; 
padding: 0% 5% 5% 15%;  
margin-bottom: 0em; 
}

/* ------ button is square, button2 is rectangular ----- */
/* ------ link is a button, image is a badge ----- */
.button2 { 
position: relative; 
margin: 0 1em 1em 0;
float: left;
text-align: center; 
font-size: 79.5%; 
line-height: 3.5em;
}
a.button2 { background-color:rgba(0, 0, 0, 0);
color: #fff; display: block; 
width: 7em; height: 3.5em; }
a.button2:hover { background-color:rgba(0, 0, 0, 0.1); }

/* ------ badge & badge2 the same (for now) ----- */
/* ------ link is a button, image is a badge ----- */
.badge2 { 
display: block;
width: 7em; height: 3.5em; 
margin-left: auto;
margin-right: auto;
border: 0; }


/* ------ button3 is the floating mic button, absolute in zone 2 ----- */

.button3  { 
position: absolute; 
left: 51.2em; top: -5em; 
margin: 0 1em 1em 0;
float: left;
text-align: center; }
a.button3 { background-color:rgba(0, 0, 0, 0);
color: #fff; display: block;  
width: 2.5em; height: 2.5em; }
a.button3:hover { background-color:rgba(0, 0, 0, 0); } 


/* ------ button4 is text buttons for the OTHER page ----- */

.button4 { 
display: block;
margin: 0 1em 1em 0em;
text-align: left; 
font-size: 79.5%; 
line-height: 3.5em;
}
a.button4 { background-color:rgba(0, 0, 0, 0);
color: #fff; display: block; 
padding-left: 2.5em;
width: 80%; height: 3.5em; }
a.button4:hover { background-color:rgba(0, 0, 0, 0.1); }


/* ------ I think this special does nothing. The special image is coronavirus ----- */

.special { 
display: block;
width: 2.5em; height: 2.5em; 
margin-left: auto;
margin-right: auto;
border: 0; 
z-index: -1; }



/* ---------------------  phone css ----------------- */
/* ------ @media screen and (max-width: 40.5em) ----- */
/* ---------- container padding left is new --------- */

@media screen and (max-width: 35em) 

{

html, body  { background-size: ;}

#container { padding-left: 3%; }

#zone1 { width: 96%; float: left; position: relative; 
padding: 6% 2% 2% 4%; 
margin-bottom: 0em; 
margin-top: 5em; }

#zone2 { width: 96%;  
padding: 0% 2% 2% 4%; 
margin-bottom: 3em; 
}

a.button { height: 6em; width: 6em; margin: 0em 0.5em 1em 0.5em; }
.badge { height: 3em; width: 6em; }
 
a.button2 { height: 3em; width: 6em; }
.badge2 { height: 3em; width: 6em; }

.button3  { 
position: relative; 
top: 0; left: 0;
margin: 0 1em 1em 0;
float: left;
text-align: center; }
a.button3 { height: 3em; width: 6em; } 

.font { top: 0.5em; font-size: 70%; 
line-height: 2.5em; }

}

}

