
html, body  { font-family: muli, arial, helvetica; color: #000;
background-image :url('../images/jags.jpg'); background-position: 0em 0em; background-attachment: scroll; font-size: medium; }

a { background: #fff; opacity: 0.8; color: #000; outline: none; margin: 1px; }
a:link { text-decoration: none; display: block; padding: .7em 1.25em; }
a:visited { text-decoration: none; display: block; }
a:hover { background: #444; opacity: 0.7; color: #fff; }
a:active { text-decoration: none; display: block; }

#container { max-width: 800px; }

#rightside a { display: block; z-index: 5; opacity: 1; border: 0; padding: 0; background: none; }

#button1 a { position: fixed; right: 0.5em; top: 1em; }
.button1 { background: none; width: 2.7em; height: 2.7em; display: block; }

.picture { display: block; max-width: 15em; margin-top: 1.5em; }

#page { float: left; position: relative; padding: 0em 0em 0.5em 0.5em; 
padding-right: 7em; }

a.img { background: none; border: 0; margin: 0; padding: 0; }
a.img:hover { background: none; }
.square { width: 100px; height: 100px; }

/* ------------------------  phone css ----------- */
@media screen and (max-width: 601px) {

html, body  { font-size: large; }
#header { max-width: 225px; }
#circle a { left: 0; top: 0; display: none; }

}
/* ------------------------  phone css ----------- */
