
html, body  { font-family: arial, helvetica;
	font-size: 19px; color: #000; }
	
h1 { font-family: georgia, times new roman, times; 
   font-size: 1.5em; letter-spacing: 0.1em;
   font-weight: normal; display: block; line-height: 1.em; margin: 0; border: 0; padding: 0; }

a { background: #fff; opacity:0.7; filter:alpha(opacity=70); color: #000; outline: none; margin: 2px; }

a:link { text-decoration: none; display: block; padding: 3px; }
a:visited { text-decoration: none; display: block; }
a:hover { background: #444; opacity:0.7; filter:alpha(opacity=70); color: #fff; }
a:active { text-decoration: none; display: block; }

#page { position: absolute; padding: 1.5em; height: 600px; width: 1300px; }

#google { position: relative; width: 100%; }
#google a { display: inline; margin-left: 1em; padding: 3px 15px; }
#links { position: relative; vertical-align: top; display: inline-block; margin: 0 1.2em 1em 0; }

.space { width: 8em; display: block; }
.space2 { width: 2em; display: block; }
