
html, body  { font-family: calibri, arial, helvetica;
	font-size: 12px; color: #000; }
	
h1 { font-family: georgia, times new roman, times; 
   font-size: 1.5em; letter-spacing: 0.2em;
   font-weight: normal; display: inline; line-height: 2em; }

/* on dark */
a { color: #fff; display: block; width: auto; outline: none; }
a:link { text-decoration: none; display: block; padding: 4px 6px 4px 4px; }
a:visited { text-decoration: none; display: block; padding: 4px 6px 4px 4px; }
a:hover { background: url(../images/link_back.gif); background-position: right ; color: #fff; padding: 4px 6px 4px 4px; }
a:active { text-decoration: none; display: block; padding: 4px 6px 4px 4px; }

#google { position: absolute; left: 75px; top: 30px; }

#c1 { position: absolute; left: 75px; top: 120px; color: #222; }  /* on light */
#c1 a:link { color: #222; }
#c1 a:visited { color: #222; }
#c1 a:hover { background: url(../images/link_back.gif); background-position: right ; color: #fff; }

#c2 { position: absolute; left: 225px; top: 110px; color: #222; }
#c2 a:link { color: #222; }
#c2 a:visited { color: #222; } 
#c2 a:hover { background: url(../images/link_back.gif); background-position: right ; color: #fff; }

#c3 { position: absolute; left: 375px; top: 80px; color: #222; }
#c3 a:link { color: #222; }
#c3 a:visited { color: #222; } 
#c3 a:hover { background: url(../images/link_back.gif); background-position: right ; color: #fff; }

#c4 { position: absolute; left: 525px; top: 60px; color: #222; }
#c4 a:link { color: #222; }
#c4 a:visited { color: #222; } 
#c4 a:hover { background: url(../images/link_back.gif); background-position: right ; color: #fff; }

#c5 { position: absolute; left: 675px; top: 120px; color: #ddd; } /* on dark */
#c5 a:link { color: #ddd; } 
#c5 a:visited { color: #ddd; } 
#c5 a:hover { background: url(../images/link_back.gif); background-position: right ; color: #fff; }

#c6 { position: absolute; left: 825px; top: 120px; }

#c7 { position: absolute; left: 75px; top: 430px; color: #eee; }
#c7 a:link { color: #eee; } 
#c7 a:visited { color: #eee; }
#c7 a:hover { background: url(../images/link_back.gif); background-position: right ; color: #fff; }

#c8 { position: absolute; left: 225px; top: 400px; color: #eee; }
#c8 a:link { color: #eee; } 
#c8 a:visited { color: #eee; } 
#c8 a:hover { background: url(../images/link_back.gif); background-position: right ; color: #fff; }

#c9 { position: absolute; left: 225px; top: 560px; color: #eee; }
#c9 a:link { color: #eee; } 
#c9 a:visited { color: #eee; } 
#c9 a:hover { background: url(../images/link_back.gif); background-position: right ; color: #fff; }

#c10 { position: absolute; left: 525px; top: 320px; }
#c11 { position: absolute; left: 675px; top: 320px; }
#c12 { position: absolute; left: 825px; top: 320px; }

#moreback { position: absolute; left: 75; top: 650; }
#weather { position: absolute; right: 0px; bottom: 0px; z-index: -1; }


